body {
  background-color: black;
  /* background-image: url("../images/waterfall.jpg"); */
}

h1 { 
  background-color: lightblue;
  border: 9px groove navy;
  height: 100px;
  width: max 50%;
  margin: 0 25%;
  text-align: center;
  font-size: 80px;
}

img {
  margin: 20px 39%;
  height: 20%;
  width: 20%;
  border: 15px ridge orangered;
}

main {
  background-color: #475CFF;
  width: 75%;
  height: 50em;
  margin: 10px 12%;
  border-radius: 50px;
  border: 5px double #FF6429;
}

h2 {
  text-align: center;
  font-size: 25px;
}

.foodList {
  float: left;
  margin: 30px 20px 10px 85px;
  border: 5px solid #FF6429;
  width: 23em;
  height: 13em;
  padding-left: 10px;
}

.foodList h2 {
  text-decoration: underline;
  margin: 10px 0;
}

.careerList {
  float: right;
  margin: 30px 70px 10px 10px;
  border: 5px solid #FF6429;
  width: 23em;
  padding-left: 10px;
  height: 13em;
}

.careerList h2 {
  text-decoration: underline;
  margin: 10px 0;
}

.shortStory {
  border: 5px groove #FF6429;
  font-weight: bold;
  font-size: 17px;
  margin: 10px 10%;
  height: 24em;
  width: 48em;
  background-color: #2031B3;
}

.biography {
  font-size: 50px;
  font-weight: bold;
}

p {
  text-indent: 50px;
  margin: 30px 20px 0 20px;
  color: black;
  font-style: bold;
  font-family: Georgia, 'Times New Roman', Times, serif
}

ol {
  list-style-type: square;
  list-style-position: inside;
}

ul {
  list-style-type: square;
  list-style-position: inside;

}